body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.classbox{
  background-color: #272527;
  height: 10rem;
  width: 30rem;
  box-sizing: content-box;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 100px;
}

.box{
  background-color: brown;
  height: 10rem;
  width: 30rem;
  box-sizing: content-box;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 150px;
}

hr{
  color: darkmagenta;
  width: 5px;
}

h1{
  text-align: center;
  font-size: xx-large;
  font-style: italic;
  letter-spacing: 0.1rem;
  color: #fff;
  margin-top: 25px;
}

button{
  position: relative;
  background: #fff;
  color: green;
  text-decoration: none;
  text-transform: uppercase;
  font-size: medium;
  padding: 10px 10px;
  transition: 0.5s;
  margin-right: 15px;
  margin-left: 25px;
}

span{
  color: red;
}

button:hover{
  letter-spacing: 0.10em;
}

button::before{
  content: '';
  position: absolute;
  inset: 2px;
}